<head>
    <title>{{title}}</title>
</head>
<section>
    <h1>{{title}}</h1>
    <form method="POST" action={{path}}>
        <label>Username*</label><br>
        <input type="text" name="username" required><br>
        <label>Password*</label><br>
        <input type="password" name="password" required><br>
        <input type="submit" name="Submit" value={{value}}>
    </form>
</section>