<section>
    <h1>{{pageHeader}}</h1>
    <form method="GET" action={{pageAction}}>
        <label>Search name*</label><br>
        <input placeholder="Search..." type="text" name="name" required><br>
        {{> sizePageForm}}
    </form>
</section>