<section>
    <h1>{{header}}</h1>
    {{#if noResults}}No results for {{searchedName}}{{/if}}
    <ul>
        {{#each searchedEvents}}
        <li>
            <a href="/site/events/{{id}}">{{name}}</a>
        </li>
        {{/each}}   
    </ul>
</section>