<label>Size</label><br>
<input placeholder="Insert number..." type="text" name="s"><br>
<label>Page</label><br>
<input placeholder="Insert number..." type="text" name="p"><br>
<input type="submit" value="Search Events">