<!DOCTYPE html>
<html>
    <body>
        <nav>
            <div>
                <a href="/site/events/search">Search</a>
                <a href="/auth/site/groups">My Groups</a>
            </div>
        </nav>
        {{{body}}}
    </body>
</html>