<head>
    <title>My Groups</title>
</head>
<h1>My Groups</h1>
<section>
    <h2>Add new group</h2>
    <form method="POST" action="/auth/site/groups">
        <label>Name*</label><br>
        <input placeholder="Insert group name..." type="text" name="name" required><br>
        <label>Description*</label><br>
        <input placeholder="Insert group description..." type="text" name="description" required><br>
        <input type="submit" value="Submit">
    </form>
</section>

<section>
    <hr>
        {{#each allGroups}}
            <a href="/auth/site/groups/{{id}}"><h2>{{name}}</h2></a>
            <p>{{description}}</p>
            <hr>
        {{/each}}   
</section>