<head>
    <title>Home Page</title>
</head>
<body>
    <h1>HOME PAGE</h1>
    <div> 
        <form action="/auth/site/logout" method="POST">  
            <button type="submit" value="Submit">Logout</button> 
        </form>
    </div>
</body>